body {
    padding: 0;
    margin: 0;
}

.MuiDrawer-paper {
    border-right-style: dashed !important;
}

.MuiListItemButton-root:hover {
    background-color: rgba(100, 100, 100, 0.4) !important;
}

.list-item-button-active {
    background-color: #4caf50 !important;
}

.list-item-button-active:hover {
    background-color: #66bb6a !important;
}